# Entornos virtuales
venv/
.env

# Compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Logs y cachés
*.log

# Archivos innecesarios del scraping/setup
*.zip
chromedriver
chromedriver_linux64.zip
LICENSE.chromedriver
google-chrome-stable_current_amd64.deb
wget-log

# Configuración de IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
*.swp
*.swo
